/* Charts */
.chart {
    /*position: relative;*/
}
.line {
    fill: none;
    stroke: steelblue;
    stroke-opacity: 0.5;
    stroke-width: 0.5px;
}
.bar {
    fill: steelblue;
}
/* Logo */
.logo {
    position: relative;
    display: inline-block;
    align: center;
    width: 30px;
    height: 30px;

}
/* Loader */
.loader {
    position: relative;
    display: inline-block;
    align: center;
    top: 50px;
    bottom: 0px;
    width: 30px;
    height: 30px;

    box-sizing: content-box;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-box-sizing:content-box;
    align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.hidden{
    visibility: hidden;
}
.spinning{
    animation:spin 1.4s cubic-bezier(0.64, 0.3, 0.33, 0.64) 20; /* max 20 spins as my gpu gets hot, if for example because of a breakpoint, the animation spins longer*/
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(720deg); transform:rotate(720deg);
    }
}

/* Dropdown menus*/
.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    bottom: 0px;
}
select{
    width:100px;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-box-sizing:content-box;
}
/* Text */
.subtitle {
    margin-top: 0px;
    line-height: 0px;
    font-size: 6px;
}
h1 {
    margin-bottom: -20px;
}
h2 {
    margin-top: 30px;
    margin-bottom: 0px;
}
body {
    margin-top: 0;
    font-family: sans-serif;
}
.text {
    margin-bottom: 1px;
}
p {
    font-size: 14px;
}
.label {
    font-size: 12px;
    text-anchor: middle;
}
.credit {
    font-size: 8px;
}

header {
    text-align:center;
    /*background-color: rgba(70,130,180,0.1);
    margin: 0;
    padding:0;*/
}
hr {
    border-bottom: solid steelblue;
    opacity: 0.3;
    width : 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.1px;
}